*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/.name
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
*.xml
.idea/modules/scalatron_bot-build.iml
*.iml
